<!DOCTYPE html>

<html>

<head>
    {{!-- Hello Express! --}}
    <script src="/web-server/public/script.js"></script>
</head>

<body>
    {{>header}}
    <br />
    Created by {{author}}
</body>

</html>